env/
venv/
.venv/
pythonenv*

__pycache__/
*.py[cod]
*.pyd
*.pyo

*.log
logs/
*.sqlite
*.db
*.bak
*.swp
*.swo
*.swn
*.pid

.vscode/
.idea/
*.iml
*.code-workspace

.git/
.gitignore
.github/
.gitattributes

*.env
.env*
.secrets
env.*
docker-compose*.yml

dist/
build/
*.egg-info/
*.egg
.site-packages/

tests/
test_data/
docs/
_site/
coverage.xml
.pytest_cache/

celerybeat-schedule
celerybeat.pid

Dockerfile
.dockerignore
docker-compose*

drawio/